# Sensible Konfigurationsdateien
/includes/configuration.includes.php

# Webserver-Konfigurationsdateien
/.htaccess
/.vscode/
/icon/
/awstats-icon/
/awstatsicons/

# SSL-Zertifikate und Schlüssel
*.pem
*.key

# Node.js Abhängigkeiten (falls vorhanden)
/node_modules/
